<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offline Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map-container {
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            padding: 10px;
            box-sizing: border-box;
        }
        #map {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="map-container">
        <div id="map"></div>
    </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        var mapboxAccessToken = 'pk.eyJ1Ijoicm9veWNob3UiLCJhIjoiY2xhMHZheTB0MDFmczNvcHM2NnNiYmtrZiJ9.-_o6WIIiB2ryGAvuLcTELA';
        // 创建地图对象并设置初始视图（经纬度和缩放级别）
        var map = L.map('map').setView([28.7700, 108.7400], 10);

        // 通用图层配置
        var commonLayerConfig = {
            maxZoom: 16,
            minZoom: 10,
            tileSize: 256,
            bounds: [
                [28, 108],
                [29, 109]
            ],
            noWrap: true,
            errorTileUrl: 'https://via.placeholder.com/256?text=No+Tile'
        };

        // 创建瓦片图层
        var streetsLayer = L.tileLayer('/tiles/streets-v11/{z}/{x}_{y}.png', Object.assign({}, commonLayerConfig));
        var satelliteLayer = L.tileLayer('/tiles/satellite-v9/{z}/{x}_{y}.png', Object.assign({}, commonLayerConfig));
        var google_satelliteLayer = L.tileLayer('/tiles/google-satellite/{z}/{x}_{y}.png', Object.assign({}, commonLayerConfig));

        // 创建 Mapbox 图层
        var mapboxStreetsLayer = L.tileLayer(`https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=${mapboxAccessToken}`, {
            maxZoom: 16,
            minZoom: 10,
            tileSize: 256,
            noWrap: true,
            errorTileUrl: 'https://via.placeholder.com/256?text=No+Tile'
        });

        var mapboxOutdoorsLayer = L.tileLayer(`https://api.mapbox.com/styles/v1/mapbox/outdoors-v12/tiles/{z}/{x}/{y}?access_token=${mapboxAccessToken}`, {
            maxZoom: 16,
            minZoom: 10,
            tileSize: 256,
            noWrap: true,
            errorTileUrl: 'https://via.placeholder.com/256?text=No+Tile'
        });

        var mapboxWujiangLayer = L.tileLayer(`https://api.mapbox.com/styles/v1/rooychou/clyq3w65m03to01r19v573fgy/tiles/{z}/{x}/{y}?access_token=${mapboxAccessToken}`, {
            maxZoom: 16,
            minZoom: 10,
            tileSize: 256,
            noWrap: true,
            errorTileUrl: 'https://via.placeholder.com/256?text=No+Tile'
        });

        var AmapLayer = L.tileLayer(`https://wprd01.is.autonavi.com/appmaptile?x={x}&y={y}&z={z}&style=7`, {
            maxZoom: 17,
            minZoom: 1,
            tileSize: 256,
            noWrap: true,
            errorTileUrl: 'https://via.placeholder.com/256?text=No+Tile'
        });

        var AmapLayer1 = L.tileLayer(`https://wprd01.is.autonavi.com/appmaptile?x={x}&y={y}&z={z}&lang=zh_cn&size=1&scl=1&style=7`, {
            maxZoom: 17,
            minZoom: 1,
            tileSize: 256,
            noWrap: true,
            errorTileUrl: 'https://via.placeholder.com/256?text=No+Tile'
        });

        var mapworldcvaLayer = L.tileLayer(`https://t4.tianditu.gov.cn/cva_w/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=cva&STYLE=default&TILEMATRIXSET=w&FORMAT=tiles&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&tk=68d166cfe304fa077ff035bed00edc37`, {
            maxZoom: 17,
            minZoom: 1,
            tileSize: 256,
            noWrap: true,
            errorTileUrl: 'https://via.placeholder.com/256?text=No+Tile'
        });

        var mapworldvecLayer = L.tileLayer(`https://t4.tianditu.gov.cn/vec_w/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=cva&STYLE=default&TILEMATRIXSET=w&FORMAT=tiles&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&tk=68d166cfe304fa077ff035bed00edc37`, {
            maxZoom: 17,
            minZoom: 1,
            tileSize: 256,
            noWrap: true,
            errorTileUrl: 'https://via.placeholder.com/256?text=No+Tile'
        });

        // 添加初始图层到地图
        streetsLayer.addTo(map);

        // 添加图层控制
        var baseLayers = {
            "Local Streets": streetsLayer,
            "Local Satellite": satelliteLayer,
            "Local Google Satellite": google_satelliteLayer,
            "Mapbox Streets": mapboxStreetsLayer,
            "Mapbox Outdoors": mapboxOutdoorsLayer,
            "Mapbox Wujiang": mapboxWujiangLayer,
            "Amap": AmapLayer,
            "Amap1": AmapLayer1,
            "天地图1": mapworldcvaLayer,
            "天地图2": mapworldvecLayer,

        };

        L.control.layers(baseLayers).addTo(map);

        // 显示当前经纬度和瓦片名称
        var info = L.control({position: 'bottomleft'});

        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info');
            this.update();
            return this._div;
        };

        info.update = function (latlng, zoom, tile) {
            var coordsText = latlng ? 'Lat: ' + latlng.lat.toFixed(6) + ', Lng: ' + latlng.lng.toFixed(6) : 'Lat: -, Lng: -';
            var tileText = tile ? 'Tile: ' + tile : 'Tile: -';
            this._div.innerHTML = '<span id="coordinates">' + coordsText + '</span> | <span id="tile">' + tileText + '</span>';
        };

        info.addTo(map);

        function updateInfo(e) {
            var latlng = e.latlng;
            var zoom = map.getZoom();
            var xtile = Math.floor((latlng.lng + 180) / 360 * Math.pow(2, zoom));
            var ytile = Math.floor((1 - Math.log(Math.tan(latlng.lat * Math.PI / 180) + 1 / Math.cos(latlng.lat * Math.PI / 180)) / Math.PI) / 2 * Math.pow(2, zoom));
            var tile = zoom + '/' + xtile + '/' + ytile;
            info.update(latlng, zoom, tile);
        }

        map.on('mousemove', updateInfo);
        map.on('zoomend', updateInfo);

        // 加载并显示GeoJSON文件
        fetch('/static//yangtze_river.geojson')
            .then(response => response.json())
            .then(data => {
                L.geoJSON(data, {
                    style: function (feature) {
                        return {color: 'blue'};
                    }
                }).addTo(map);
            })
            .catch(error => console.error('Error loading the GeoJSON file:', error));
    </script>
</body>
</html>